.page-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  color: $black-1;
  @include mq(1375) {
    font-size: 35px;
  }

  @include mq(550) {
    font-size: 24px;
  }
}

.page-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  color: $gray;
  @include mq(1375) {
    font-size: 18px;
  }
  @include mq(550) {
    font-size: 16px;
  }
}

.bold {
  font-weight: 700;
}

.section-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.4;
  color: $black-1;

  @include mq(1100) {
    font-size: 32px;
  }

  @include mq(550) {
    font-size: 22px;
  }
}

.section-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: $gray;
  @include mq(1100) {
    font-size: 16px;
  }
}

@include mq(1921, min) {
  .page-title {
    font-size: 2.60417vw;
  }
  .page-text {
    font-size: 1.04167vw;
  }
  .section-title {
    font-size: 1.82292vw;
  }
  .section-text {
    font-size: 0.9375vw;
  }
}
