// Font
$font-main-serif: 'Red Hat Display', serif;
$font-main-sans-serif: 'Red Hat Display', Helvetica, sans-serif;

$font-secondary-serif: 'Montserrat', serif;
$font-secondary-sans-serif: 'Montserrat', Helvetica, sans-serif;

$font-main: $font-main-sans-serif;
$font-secondary: $font-secondary-sans-serif;

// Colors
$white: #fff;
$white-1: #eeeff2;
$white-2: #f6f6f6;
$white-3: #ddd;
$white-4: #f8f8f8;
$black: #000;
$black-1: #0b132a;
$black-2: rgba(0, 0, 0, 0.6);

$red: #f53855;
$red-1: #f54141;
$red-2: #f53838;
$gray: #4f5665;
$gray-1: #afb5c0;
$gray-2: #dde0e4;
$green: #2fab73;

$pink: #dd2476;
$orange: #ff512f;
