.counter {
  margin-bottom: 95px;
}

.counter__items {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  justify-content: space-between;
  background-color: $white;
  border-radius: 10px;

  @include mq(1110) {
    flex-direction: column;
  }
}

.counter__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px 0;
  border-right: 1px solid $white-1;
  width: 100%;

  @include mq(1200) {
    padding: 32px 64px;
  }

  @include mq(1110) {
    border-bottom: 1px solid $white-1;
  }

  @include mq(991) {
    padding: 32px;
  }

  @include mq(768) {
    max-width: 100%;
    border-radius: 0;
    border-bottom: 1px solid $white-1;
  }

  &:last-child {
    border: 0;
  }
}

.counter__item-icon-box {
  max-width: 55px;
  width: 100%;
  margin-right: 37px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(991) {
    margin-right: 24px;
  }
}

.counter__item-icon {
  width: 100%;
  height: auto;
}

.counter__item-text-title {
  @extend .rubik-25-bold;
  color: $black-1;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.counter__item-text-small-text {
  @extend .rubik-20-normal;
  margin-bottom: 5px;
  color: $gray;
}

@include mq(1921, min) {
  .counter {
    margin-bottom: 4.94792vw;
  }

  .counter__items {
    padding-top: 1.875vw;
    padding-bottom: 1.875vw;
    border-radius: 0.52083vw;
  }

  .counter__item {
    padding: 1.66667vw 0;
    border-right: 0.05208vw solid $white-1;
  }

  .counter__item-icon-box {
    max-width: 2.86458vw;
    margin-right: 1.92708vw;
  }

  .counter__item-text-small-text {
    margin-bottom: 0.26042vw;
  }
}
